<style>
  .centerme {
    text-align: center
  }
</style>

<h1 class="centerme">Home</h1>

<%= image_tag 'parrotdad.gif', :style => "display: block;
    margin-left: auto;
    margin-right: auto" %>
<h3 class="centerme">I'm happy</h3>
<p class="centerme"> Want to find something? Go to <a href="http://www.google.com">Google</a><br/>
<%= link_to 'About', about_path %>
</p>
